*{
	box-sizing: border-box;
}

h1{
	margin: 50px;
	text-align: center;
	font-size: 60px;
	font-family: "Snell Roundhand";
}

.counteaner{
	display: flex;
	border-left: solid 2px;
	margin-right: 5px;
	margin-left: 5px;
}
.blog{
	border-top: solid black 3px;
	border-right: solid 1px;
	border-bottom: solid 2px;
	padding: 5px;
	text-align: center;
}
.blog.first, .blog.third, .blog.forth{
	min-width: 25%;
	max-width: 25%;
}
.blog.fifth{
	padding: 0;
	width: 75%;
	display: flex;
	flex-direction: column;
}
.categories
{
	height: 20%;
	text-align: start;
	font-size: 55px;
}
.politics
{
	background-color: #77622f;
}
.technology
{
	background-color: #2f773e;
}
.local
{
	background-color: #2f4477;
}
.opinion
{
	background-color: #772f68;
}
.sport
{
	background-color: #452f77;
}